
# python
*.pyc
*.pyo
/.cache
*.egg-info
/build
/*.eggs
/.pytest_cache

# asv
/benchmarks/env
/benchmarks/results

# docs
/docs/_build

# pyenv
/.python-version

# coverage
/.coverage


# cython
*.so

# travis cli
.rbenv-gemsets
