cython==0.28.2

# testing
pudb==2017.1.4
pytest-cov==2.5.1
pytest-faker==2.0.0
pytest-mock==1.10.0
pytest-pep8==1.0.6
pytest-pudb==0.6
pytest==3.5.1

# packaging
setuptools==39.2.0
twine==1.11.0
wheel==0.38.1

# benchmarking
asv==0.2.1
virtualenv==15.2.0
